<ion-header>
    <ion-navbar>
        <ion-title>
            About
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="center">
    <h1>Journee D'or</h1>
    <p>We organize awesome events!</p>
    <p>&copy; All rights reserved 2017</p>
    <ion-list>
        <ion-item (click)="call()">
            <ion-icon name="call" item-left></ion-icon>
            (+961) 76 43 48 05
        </ion-item>
        <ion-item (click)="email()">
            <ion-icon name="mail" item-left></ion-icon>
            info@journeedor.com
        </ion-item>
        <ion-item (click)="instagram()">
            <ion-icon name="logo-instagram" item-left></ion-icon>
            @Journee_dor
        </ion-item>
        <ion-item (click)="facebook()">
            <ion-icon name="logo-facebook" item-left></ion-icon>
            Journée D'or
        </ion-item>
    </ion-list>
    <hr>
    <h1>App Version Information</h1>
    <p>Channel: {{channel.current}} | Version: {{version}} | UUID: {{uuid}}</p>
    <ion-card *ngIf="channel.current!='staging'"
              (click)="setStaging()">
        <ion-card-content>
            Change to Staging
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="channel.current!='dev'"
              (click)="setDev()">
        <ion-card-content>
            Change to Development
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="channel.current!='production'"
              (click)="setProd()">
        <ion-card-content>
            Change to Production
        </ion-card-content>
    </ion-card>
</ion-content>
