<ion-header>
    <ion-navbar>
        <ion-title>Login</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="center">
        <img src="assets/img/logo.png"/>
    </div>
    <form (submit)="loginSend(loginForm)" #loginForm="ngForm">
        <ion-list>
            <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input type="text" name="email" required [(ngModel)]="login.email"></ion-input>

            </ion-item>

            <ion-item>
                <ion-label floating>Password</ion-label>
                <ion-input type="password" name="password" required [(ngModel)]="login.password"></ion-input>
            </ion-item>
            <div class="center">
                <button ion-button type="submit">
                    Login
                </button>
            </div>
            <p class="center">New Member? <a (click)="goToRegisterPage()">Register Now!</a></p>
            <p class="center">Forgot Password?</p>
        </ion-list>
    </form>
</ion-content>
