<ion-header>
    <ion-navbar>
        <ion-title>RegisterNow</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form (submit)="submit(signupForm)" #signupForm="ngForm">
        <ion-list>

            <ion-item>
                <ion-label floating>First Name</ion-label>
                <ion-input name="firstname" type="text" required [(ngModel)]="signup.firstname"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Last Name</ion-label>
                <ion-input name="lastname" type="text" required [(ngModel)]="signup.lastname"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input name="email" type="email" required
                           [(ngModel)]="signup.email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Password</ion-label>
                <ion-input [(ngModel)]="signup.password" name="password" type="password" #password="ngModel"
                           minlength="6"
                           (ngModelChange)="passwordValidate(signupForm)"
                           required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Confirm Password</ion-label>
                <ion-input (ngModelChange)="passwordValidate(signupForm)" [(ngModel)]="signup.password2"
                           name="password2" type="password" #password2="ngModel" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Phone Number</ion-label>
                <ion-input type="tel" (ngModelChange)="phoneValidate($event, phone)" [(ngModel)]="signup.phone"
                           name="phone" #phone="ngModel" required></ion-input>
            </ion-item>
            <!--<div *ngIf="phone.invalid">Phone number is invalid!</div>-->
            <div class="center">
                <button [disabled]="!signupForm.valid" type="submit" ion-button>
                    Register
                </button>
            </div>
        </ion-list>
    </form>
</ion-content>
