<ion-tabs>
    <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
    <!--<ion-tab [root]="tab2Root" tabTitle="Cash Box" tabIcon="cube"></ion-tab>-->
    <ion-tab [root]="tab5Root" tabTitle="Favorites" tabIcon="star"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="Profile" tabIcon="person"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="About Us" tabIcon="information-circle"></ion-tab>
</ion-tabs>
