<ion-header>
    <ion-navbar>
        <ion-title>
            Profile
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="center">
    <ion-list>
        <ion-item>
            <ion-icon name="call" item-left></ion-icon>
            {{profile?.firstname}} {{profile?.lastname}}
        </ion-item>
        <ion-item>
            <ion-icon name="mail" item-left></ion-icon>
            {{profile?.email}}
        </ion-item>
        <ion-item>
            <ion-icon name="call" item-left></ion-icon>
            {{profile?.phone}}
        </ion-item>

    </ion-list>
    <button ion-button full (click)="logout()" style="margin-top: 50px">Logout</button>
</ion-content>
