<h1>Testing </h1>
<div class="image-row" *ngFor="let page of childrenWithImages; let i = index">
    <ion-row *ngIf="(i % 2 === 0)">
        <ion-col *ngIf="i < childrenWithImages.length" no-padding>
            <div (click)="goTo(page.type,page.id)">
                <img src="{{page.src}}"/>
                <span>{{page.title}}</span>
            </div>
        </ion-col>
        <ion-col *ngIf="i+1 < childrenWithImages.length" no-padding>
            <div (click)="goTo(childrenWithImages[i+1].type,page.id)">
                <img src="{{childrenWithImages[i+1].src}}"/>
                <span>{{childrenWithImages[i+1].title}}</span>
            </div>
        </ion-col>
    </ion-row>
</div>
<ion-row wrap padding>
    <ion-col *ngFor="let page of childrenNoImages" width-50>
        <ion-card (click)="goTo(page.type,page.id)">
            <ion-card-content>{{page.title}}</ion-card-content>
        </ion-card>
    </ion-col>
</ion-row>