<ion-header>
    <ion-navbar>
        <ion-title>{{title}}</ion-title>
        <ion-buttons end>
            <!-- <button ion-button icon-only (click)="goToProfile()">
                 <ion-icon name="person"></ion-icon>
             </button>-->
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid no-padding>
        <div class="image-row" *ngFor="let page of childrenWithImages; let i = index">
            <ion-row *ngIf="(i % 2 === 0)">
                <ion-col *ngIf="i < childrenWithImages.length" no-padding>
                    <div (click)="goTo(page.type,page.id)">
                        <img src="{{page.src}}"/>
                        <span>{{page.title}}</span>
                    </div>
                </ion-col>
                <ion-col *ngIf="i+1 < childrenWithImages.length" no-padding>
                    <div (click)="goTo(childrenWithImages[i+1].type,childrenWithImages[i+1].id)">
                        <img src="{{childrenWithImages[i+1].src}}"/>
                        <span>{{childrenWithImages[i+1].title}}</span>
                    </div>
                </ion-col>
            </ion-row>
        </div>
        <ion-row wrap padding>
            <ion-col *ngFor="let page of childrenNoImages" col-6>
                <div class="mar-hor">
                    <button ion-button block outline (click)="goTo(page.type,page.id)">{{page.title}}</button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>


