// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.image-row ion-row, .image-row ion-col div {
  padding: 0px;
  display: flex;
}

.image-row ion-row {
  margin-bottom: 1px;
}

.image-row ion-row + .image-row ion-row {
  margin-top: 0px;
}

.image-row ion-col {
  margin-left: 1px;
}

.image-row ion-col:first-child {
  margin-left: 0px;
}

.image-row ion-col:last-child {

}

.image-row img {
  height: 100%;
  width: 100%;
  -webkit-transition: opacity 0.15s;
  -moz-transition: opacity 0.15s;
  -ms-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  transition: opacity 0.15s;
  object-fit: cover;
  height: 140px;
}

.image-row ion-col {
  background: #000;
}

.image-row ion-col div.activated img {
  opacity: 0.3;
}

.image-row ion-col img {
  opacity: 0.65;
}

.image-row ion-col div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-row ion-col span {
  color: #FFF;
  position: absolute;
}

.image-row:first-of-type {
  margin-top: 0;
}

.image-row:last-of-type {
  margin-bottom: 0;
}

.alert-md .alert-wrapper {
  max-width: 95%;
}

.mar-hor {
  margin: 0px 3px;
}