<!--
  Generated template for the LogPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>{{title}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <!--<img src="http://placehold.it/700x150">-->
    <div class="center">
        <ion-list>

            <ion-item *ngFor="let page of children" (click)="goTo(page.type,page.id)">{{page.title}}</ion-item>

        </ion-list>
    </div>
</ion-content>
