<ion-header>
    <ion-navbar>
        <ion-title>Favorites</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <h3 class="center" *ngIf="favs.length < 1">No favorites available!</h3>
    <ion-grid no-padding>
        <div class="image-row" *ngFor="let page of childrenWithImages; let i = index">
            <ion-row *ngIf="(i % 2 === 0)">
                <ion-col *ngIf="i < childrenWithImages.length" no-padding>
                    <div (click)="goTo(page)">
                        <img src="{{page.src}}"/>
                        <span>{{page.title}}</span>
                    </div>
                </ion-col>
                <ion-col *ngIf="i+1 < childrenWithImages.length" no-padding>
                    <div (click)="goTo(childrenWithImages[i+1])">
                        <img src="{{childrenWithImages[i+1].src}}"/>
                        <span>{{childrenWithImages[i+1].title}}</span>
                    </div>
                </ion-col>
            </ion-row>
        </div>
        <ion-row wrap padding>
            <ion-col *ngFor="let page of childrenNoImages" width-50>
                <ion-card (click)="goTo(page)">
                    <ion-card-content>{{page.title}}</ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-title>Estimated Price: {{fp.totalPrice()| currency:'USD'}}</ion-title>
    </ion-toolbar>
</ion-footer>